body {
	background-color: #f8f8f8;
}

.grid-container.grid-x {
    height: 100%;
}

#loginform {
	padding: 40px 60px;
    border: 1px solid #e7e7e7;
	background-color: #fff;
	box-shadow: 0 0 6px 0 rgba(0,0,0,0.08);
}

#loginform h1 {
	font-size: 150%;
	margin-bottom: 2rem;
}

#loginform input[type="submit"] {
	margin-top: 1rem;
}